.DisplayMap {
    display: grid;
    column-gap: 0px;
    row-gap: 0px;

    .DisplayMap__tile {
        width: 50px;
        height: 50px;
        cursor: pointer;
        text-align: center;
    }
}