.UploadMapForm {
    .UploadMapForm__area {
        width: 300px;
        height: 200px;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        text-align: center;
        color: #555555;
        border: 2px #c3c3c3 dashed;
        border-radius: 12px;
        &:hover {
            background-color: #e7e7e7;
        }
        .area__icon {
            width: 100px;
            margin-top: 20px;
        }
    }
}