body {
  align-items: center;
  background-color: #FAEDCA;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.MapWrapper {
  align-items: center;
  border: 3px solid saddlebrown;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  height: 550px;
  justify-content: center;
  flex: 1 1 550px;
  width: 550px;
}

