
body {
  align-items: center;
  background-image: url("@/assets/mapBackground.jpg");
  background-size: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.MapWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  overflow: hidden;
}

