.MapViewWrapper {
  box-shadow: 5px 6px 7px 2px rgba(0,0,0,0.33);
  display: grid;
  //column-gap: 1px;
}

.TileWrapper {
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 0 2px red;
    box-sizing:border-box;
  }
  &:focus {
    box-shadow: inset 0 0 0 2px red;
    box-sizing:border-box;
  }

  img {
    z-index: -1;
    position: relative;
  }
}